// primary theme color of the styleguide.
$eminence: #307D99;

// secondary colors.
$black: #182B46;
$gray: #666C7F;
$white: #fff;

// utility colors.
$blue: #01B3C4;
$green: #51AE32;
$orange: #F1C40F;
$red: #EE1846;
