// Radio and checkbox
//
// @todo
//
// Markup:
// <div class="fields">
//    <div class="field field--inline-label">
//      <input type="radio" id="radio">
//      <label for="radio">radio</label>
//    </div>
//    <div class="field field--inline-label">
//      <input type="checkbox" id="checkbox">
//      <label for="checkbox">checkbox</label>
//    </div>
//    <div class="field field--inline-label">
//      <input type="radio" id="radio-disabled" disabled>
//      <label for="radio-disabled">radio disabled</label>
//    </div>
//    <div class="field field--inline-label">
//      <input type="checkbox" id="checkbox-disabled" disabled>
//      <label for="checkbox-disabled">checkbox disabled</label>
//    </div>
//  </div>
//
// Styleguide: General.Form.RadioCheckbox

$check-radio-size: rem(14) !default;

input[type="radio"],
input[type="checkbox"] {
  width: $check-radio-size;
  height: $check-radio-size;
  margin-right: 0.6em;
}
