// Upload
//
// @todo
//
// Markup:
// <div class="fields">
//    <div class="field">
//      <label for="upload">upload</label>
//      <input type="file" id="upload">
//    </div>
//    <div class="field">
//      <label for="upload-disabled">upload disabled</label>
//      <input type="file" id="upload-disabled" disabled>
//    </div>
//  </div>
//
// Styleguide: General.Form.Upload

[type='file']{
  @include form-element;
  padding: vertical-padding(
    $height: em(40),
    $font-size: $input-font-size,
    $line-height: $input-line-height,
    $horizontal-padding: $input-padding,
    $border-width: 2px
  );
  height: em(40);
  appearance: none;

}
