// Banner
//
// @todo
//
// Markup:
// <div class="site-banner">
//   <div class="container">
//      <nav aria-label="You are here:" role="navigation">
//        <ul class="breadcrumbs site-banner__breadcrumbs">
//          <li>
//            <a href="/" class="ri ri-home" aria-label="Home"></a>
//          </li>
//          <li aria-label="Current: Events">
//            Manage data
//          </li>
//        </ul>
//      </nav>
//      <h1 class="site-banner__title">
//        Events
//      </h1>
//      <p class="lead site-banner__lead">
//        Helping you understand what data is, and what you can do with it.
//      </p>
//   </div>
//   <div class="site-banner__pattern"></div>
// </div>
//
// Styleguide: Layout.Banner

// Deep nested example
//
// @todo
//
// Markup:
// <div class="site-banner">
//   <div class="container">
//      <nav aria-label="You are here:" role="navigation">
//        <ul class="breadcrumbs site-banner__breadcrumbs">
//          <li>
//            <a href="/" class="ri ri-home" aria-label="Home"></a>
//          </li>
//          <li>
//            <a href="#">
//              Manage data
//            </a>
//          </li>
//          <li>
//            <a href="#">
//              Releasing data on data.govt.nz
//            </a>
//          </li>
//          <li aria-label="Current: Formats for open data, machine readable and human readable">
//            ...
//          </li>
//        </ul>
//      </nav>
//      <h1 class="site-banner__title">
//        Formats for open data, machine readable and human readable
//      </h1>
//      <p class="lead site-banner__lead">
//        Helping you understand what data is, and what you can do with it.
//      </p>
//   </div>
//   <div class="site-banner__pattern"></div>
// </div>
//
// Styleguide: Layout.Banner.DeepNest


.site-banner {
  background: color('gray-lighter') url("#{$images-path}tic-tac-toe.png");
  padding: spacing('sm');
  position: relative;
  overflow: hidden;
  min-height: rem(200);

  &__breadcrumbs {
    @include breakpoint(lg) {
      width: 55%;
    }

    .ri-home {
      display: inline-block;
      margin-top: 4px; // Fix space at top of icon
      text-decoration: none;
      font-size: rem(16);
      line-height: 1;
      // Default to blue theme if none applied
      color: $color-pacific-blue;

      &:before {
        display: block;
      }
    }
  }

  &__title {
      margin-top: 0;
      margin-bottom: rem(10);
      max-width: rem(640);
      @include breakpoint(lg) {
        width: 45%;
      }
      @include breakpoint(lg) {
        width: 70%;
      }
  }

  &__title--no-crumbs {
    margin-top: 30px;
  }

  &__lead {
      margin-top: 0;
      margin-bottom: 1em;
      max-width: rem(750);
  }

  &__pattern {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-attachment: fixed;
    width: 18%;

    @include breakpoint(md) {
      width: 30%;
    }

    @include breakpoint(lg) {
      width: 45%;
    }

    // Default to blue theme if none applied
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background-image: url("#{$images-path}blue-banner-edge.png");
      background-repeat: no-repeat;
      width: 100%;
      max-width: rem(505);
    }

    &:after {
      content: '';
      background-image: url("#{$images-path}blue-banner-repeat.png");
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: rem(505);
    }
  }
}

.secondary-one {

  .site-banner__breadcrumbs .ri-home {
    color: $theme-option-1;
  }

  .site-banner__pattern {

    &:before {
      background-image: url("#{$images-path}blue-banner-edge.png");
    }

    &:after {
      background-image: url("#{$images-path}blue-banner-repeat.png");
    }


  }

}

.secondary-two {

  .site-banner__breadcrumbs .ri-home {
    color: $theme-option-2;
  }

  .site-banner__pattern {

    &:before {
      background-image: url("#{$images-path}red-banner-edge.png");
    }

    &:after {
      background-image: url("#{$images-path}red-banner-repeat.png");
    }


  }

}

.secondary-three {

  .site-banner__breadcrumbs .ri-home {
    color: $theme-option-3;
  }

  .site-banner__pattern {

    &:before {
      background-image: url("#{$images-path}green-banner-edge.png");
    }

    &:after {
      background-image: url("#{$images-path}green-banner-repeat.png");
    }


  }

}

.secondary-four {

  .site-banner__breadcrumbs .ri-home {
    color: $theme-option-4;
  }

  .site-banner__pattern {

    &:before {
      background-image: url("#{$images-path}purple-banner-edge.png");
    }

    &:after {
      background-image: url("#{$images-path}purple-banner-repeat.png");
    }


  }

}

.secondary-five {

  .site-banner__breadcrumbs .ri-home {
    color: $theme-option-5;
  }

  .site-banner__pattern {

    &:before {
      background-image: url("#{$images-path}orange-banner-edge.png");
    }

    &:after {
      background-image: url("#{$images-path}orange-banner-repeat.png");
    }


  }

}
