// Icons
//
// @todo
//
// Markup:
// <span class="ri ri-arrow-up"></span>
// <span class="ri ri-arrow-right"></span>
// <span class="ri ri-arrow-down"></span>
// <span class="ri ri-arrow-left"></span>
// <span class="ri ri-chevron-up"></span>
// <span class="ri ri-chevron-right"></span>
// <span class="ri ri-chevron-down"></span>
// <span class="ri ri-chevron-left"></span>
// <span class="ri ri-check"></span>
// <span class="ri ri-cross"></span>
// <span class="ri ri-envelope"></span>
// <span class="ri ri-pencil"></span>
// <span class="ri ri-plus"></span>
// <span class="ri ri-home"></span>
// <span class="ri ri-search"></span>
// <span class="ri ri-cog"></span>
// <span class="ri ri-logout"></span>
// <span class="ri ri-resource"></span>
// <span class="ri ri-dataset"></span>
// <span class="ri ri-copy"></span>
// <span class="ri ri-print"></span>
// <span class="ri ri-lock"></span>
// <span class="ri ri-external-link"></span>
// <span class="ri ri-pin"></span>
// <span class="ri ri-gavel"></span>
// <span class="ri ri-dashboard"></span>
// <span class="ri ri-twitter"></span>
// <span class="ri ri-youtube"></span>
// <span class="ri ri-facebook"></span>
// <span class="ri ri-linkedIn"></span>
//
// Weight: 4
//
// Styleguide: Icons

// Icon sizes
//
// @todo
//
// Markup:
// <span class="ri ri-home"></span>
// <span class="ri ri-home ri-1.5x"></span>
// <span class="ri ri-home ri-2x"></span>
// <span class="ri ri-home ri-3x"></span>
// <span class="ri ri-home ri-4x"></span>
// <span class="ri ri-home ri-5x"></span>
//
// Weight: 4
//
// Styleguide: Icons.Sizes
