// Headings
//
// @todo
//
// Markup:
// <h1>Heading 1</h1>
// <h2>Heading 2</h2>
// <h3>Heading 3</h3>
// <h4>Heading 4</h4>
// <h5>Heading 5</h5>
// <h6>Heading 6</h6>
//
// Weight: 1
//
// Styleguide: General.Headings

@function header($key) {
  @if map-has-key($headings, $key) {
    @return map-get($headings, $key);
  } @else {
    @error 'header: key (#{$key}) not found.';
  }
}

@each $selector, $sizes in $headings {
  #{$selector},
  .#{$selector} {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
    @if type-of($sizes) == map {
      @each $bp, $size in $sizes {
        @include breakpoint($bp) {
          font-size: $size;
        }
      }
    } @else {
      font-size: $sizes;
    }
  }
}
