// Information components
//
// Weight: 6
//
// Styleguide: InformationComponents

@import 'accordion/index';
@import 'blockquote/index';
@import 'message-box/index';
@import 'table/index';
@import 'card/index';
@import 'comments/index';
@import 'tooltip/index';
@import 'avatar/index';
@import 'post-details/index';
