// Colours
//
// @todo
//
// Markup:
//  <div class="container">
//    <div class="row">
//      <h3>Core colours</h3>
//        <div class="bg-primary bubble">
//          <small class="color-white">Primary</small>
//        </div>
//        <div class="bg-secondary bubble">
//          <small class="color-white">Secondary</small>
//        </div>
//        <div class="bg-success bubble">
//          <small class="color-black">Success</small>
//        </div>
//        <div class="bg-info bubble">
//          <small class="color-black">Information</small>
//        </div>
//        <div class="bg-warning bubble">
//          <small class="color-black">Warning</small>
//        </div>
//        <div class="bg-danger bubble">
//          <small class="color-black">Danger</small>
//        </div>
//    </div>
//    <div class="row">
//      <h3>Supporting colours and tones</h3>
//        <div class="bg-astral bubble">
//          <small class="color-white">Astral</small>
//        </div>
//        <div class="bg-big-stone bubble">
//          <small class="color-white">Big stone</small>
//        </div>
//        <div class="bg-pale-sky bubble">
//          <small class="color-white">Pale sky</small>
//        </div>
//        <div class="bg-french-gray bubble">
//          <small class="color-black">French gray</small>
//        </div>
//        <div class="bg-heather bubble">
//          <small class="color-black">Heather</small>
//        </div>
//        <div class="bg-athens-gray bubble">
//          <small class="color-black">Athens gray</small>
//        </div>
//        <div class="bg-iceberg bubble">
//          <small class="color-black">Iceberg</small>
//        </div>
//        <div class="bg-loafer bubble">
//          <small class="color-black">Loafer</small>
//        </div>
//        <div class="bg-harp bubble">
//          <small class="color-black">Harp</small>
//        </div>
//        <div class="bg-cinderella bubble">
//          <small class="color-black">Cinderella</small>
//        </div>
//        <div class="bg-prelude bubble">
//          <small class="color-black">Prelude</small>
//        </div>
//    </div>
//    <div class="row">
//      <h3>Highlight colours</h3>
//        <div class="bg-pacific-blue bubble">
//          <small class="color-white">Pacific blue</small>
//        </div>
//        <div class="bg-eminence bubble">
//          <small class="color-white">Eminence</small>
//        </div>
//        <div class="bg-apple bubble">
//          <small class="color-white">Apple</small>
//        </div>
//        <div class="bg-red-ribbon bubble">
//          <small class="color-white">Red ribbon</small>
//        </div>
//        <div class="bg-tango bubble">
//          <small class="color-white">Tango</small>
//        </div>
//    </div>
//  </div>
//
// Weight: -5
//
// Styleguide: Core.Colour

// Tips
//
// - Do pair foreground and background colours.
// - Don't Mix light and dark variables.
// - Don't pair foreground with foreground or background with background.
//
// Styleguide: Core.Colour.Tips

@each $label, $color in $colors {
  @include selector(
    $label: 'bg',
    $value: $label
  ){
    background-color: $color
  }
  @include selector(
    $label: 'color',
    $value: $label
  ){
    color: $color
  }
}

