// Width
//
// @todo
//
// Markup:
// <div class="bg-primary padding-sm margin-b-sm color-white mxw-xs">
//  .mw-xs
// </div>
// <div class="bg-primary padding-sm margin-b-sm color-white mxw-sm">
//  .mw-sm
// </div>
// <div class="bg-primary padding-sm margin-b-sm color-white mxw-md">
//  .mw-md
// </div>
// <div class="bg-primary padding-sm margin-b-sm color-white mxw-lg">
//  .mw-lg
// </div>
//
// Weight: -1
//
// Styleguide: Core.Width

$max-widths: (
  'xs': rem(100),
  'sm': rem(300),
  'md': rem(600),
  'lg': rem(720)
) !default;

@each $breakpoint in $breakpoint-classes {
  @include breakpoint($breakpoint) {
    @each $label, $width in $max-widths {
      @include selector(
        $breakpoint: $breakpoint,
        $label: 'mxw',
        $value: $label
      ){
        max-width: $width
      }
    }
  }
}
