// Accordion
//
// Accordions are used to hide and show information.
// They help people scan web content easily so they only see what they need to.
//
// Styleguide: InformationComponents.Accordion

// Accordion single
//
// Experimental: A single accordion item that conceals information that is only relevant for a sub-set of users.
//
// Markup:
// <details class="accordion-item" role="group" id="details-0">
//     <summary class="accordion-item-button accordion-trigger" role="button" aria-controls="details-0" aria-expanded="false">
//         <span class="accordion-item__wrap-title">
//             <span class="accordion-title">Digital service design standard</span>
//             <span class="accordion-open" style="display: inline;"><i class="fa fa-plus" aria-hidden="true"></i></span>
//             <span class="accordion-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
//         </span>
//     </summary>
//     <div class="accordion-content" style="display: none;">
//     <h3 class="imitate-h4">
//       <a href="/standards-and-guidance/digital-service-design-standard/introduction-purpose-scope/" class="internal-link">Introduction, purpose and scope<sup class="js-print-only js-footnote-number">1</sup></a>
//     </h3>
//     <p>This section forms the introductory part of the standard and is purely for context. It does not form part of the actual standard.</p>
//         </ul>
//     </div>
// </details>
//
// Styleguide: InformationComponents.Accordion.Single

.accordion-item {
	border-top: 1px solid grey;
	margin: 0px;
	.accordion-content {
		padding-left: 1rem;
		margin-bottom: 26px;
		nav ul.pages li {
			list-style-type: none;
		}
	}
	details {
		&.no-details {
			summary.accordion-item-button[aria-expanded="false"]:before {
				content: '';
			}
			summary.accordion-item-button[aria-expanded="true"]:before {
				content: '';
			}
		}
		&:not(.no-details) {
			summary.accordion-item-button:before {
				content: '';
			}
			summary.accordion-item-button:hover {
				text-decoration: none;
			}
		}
		&:not(.no-details) {
			summary.accordion-item-button:before {
				content: '';
			}
		}
	}
}
details.accordion-item {
	h2, h3, h4 {
		margin: 18px 0;
		//@include fira-regular();
		font-size: 1rem;
		font-style: normal;
		.accordion-open, .accordion-close {
			float: right;
			padding: 6px 0 0 0;
			margin-top: -5px;
		}
	}
	.accordion-content {
		h2, h3, h4 {
			//@include fira-bold();
		}
	}
}
details.accordion-heading-open {
	h2, h3, h4 {
		//@include fira-bold();
	}
}
//summary.accordion-item-button {
//	padding: 8px 0 4px 0;
//}
.accordion-trigger {
	//@include fira-regular();
	margin-bottom: 0;
	cursor: pointer;
	font-size: 1rem;
	line-height: 2rem;
	margin-top: 0;
	overflow: hidden;
	padding-top: 0;
	.accordion-item-button {
		border: 0;
		background: white;
		width: 100%;
		text-align: left;
		margin: 0;
	}
	.accordion-close {
		color: blue;
		display: none;
		float: right;
		font-size: 1.8rem;
		height: 2.4rem;
		margin-right: 8px;
		opacity: 0.4;
		padding: 4px 0 0;
	}
	.accordion-expand {
		background-color: transparent;
		border: none;
		color: blue;
		//@include fira-regular();
		font-size: 16px;
		//padding-left: 6px;
		//margin: 2px;
	  	padding: 0;
	  	margin: 2px 7px;
		&:hover {
			text-decoration: underline;
			//@include link-hover();
		}
	}
	.accordion-number {
		font-size: 1.8rem;
		display: inline-block;
		width: 2rem;

	}
	.accordion-open {
		color: blue;
		display: none;
		float: right;
		font-size: 1.8rem;
		height: 2.4rem;
		margin-right: 8px;
		opacity: 0.4;
		padding: 4px 0 0;
	}
	span.accordion-number {
		font-size: 1.8rem;
		.contact-phone {
			background: url(../images/phone.png) no-repeat;
			display: inline-block;
			height: 19px;
			width: 24px;
		}
	}
	&:hover {
		//@include link-hover();
		.accordion-title {
			text-decoration: underline;
		}
		.accordion-close {
			filter: alpha(opacity=1);
			opacity: 1;
		}
		.accordion-open {
			filter: alpha(opacity=1);
			opacity: 1;
		}
		.accordion-number {
			text-decoration: none;
		}
	}
}

// Accordion list
//
// Deprecated: A stacked list of headings that can be clicked to show or hide content.
// For example, a list of sections with hidden sub-sections.
// There's a caret icon and text label (where space allows) next to each accordion heading.
// July 13, 2007.
//
// Markup:
// <ul class="links-list accordion-list">
// <li>
//     <details class="accordion-item" role="group" id="details-0">
//         <summary class="accordion-item-button accordion-trigger" role="button" aria-controls="details-0" aria-expanded="false">
//             <span class="accordion-item__wrap-title">
//                 <span class="accordion-title">Digital service design standard</span>
//                 <span class="accordion-open" style="display: inline;"><i class="fa fa-plus" aria-hidden="true"></i></span>
//                 <span class="accordion-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
//             </span>
//         </summary>
//         <div class="accordion-content" style="display: none;">
//         <h3 class="imitate-h4">
//             <a href="/standards-and-guidance/digital-service-design-standard/introduction-purpose-scope/" class="internal-link">Introduction, purpose and scope<sup class="js-print-only js-footnote-number">1</sup></a>
//         </h3>
//         <p>This section forms the introductory part of the standard and is purely for context. It does not form part of the actual standard.</p>
//             </ul>
//         </div>
//     </details>
// </li>
// <li>
//     <details class="accordion-item" role="group" id="details-0">
//         <summary class="accordion-item-button accordion-trigger" role="button" aria-controls="details-0" aria-expanded="false">
//             <span class="accordion-item__wrap-title">
//                 <span class="accordion-title">Digital service design standard</span>
//                 <span class="accordion-open" style="display: inline;"><i class="fa fa-plus" aria-hidden="true"></i></span>
//                 <span class="accordion-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
//             </span>
//         </summary>
//         <div class="accordion-content" style="display: none;">
//         <h3 class="imitate-h4">
//             <a href="/standards-and-guidance/digital-service-design-standard/introduction-purpose-scope/" class="internal-link">Introduction, purpose and scope<sup class="js-print-only js-footnote-number">1</sup></a>
//         </h3>
//         <p>This section forms the introductory part of the standard and is purely for context. It does not form part of the actual standard.</p>
//             </ul>
//         </div>
//     </details>
// </li>
// </ul>
//
// Weight: -1
//
// Styleguide: InformationComponents.Accordion.List

.links-list.accordion-list {
    margin: 2rem 0 0 0;
    padding: 0;

    li {
        margin-bottom: auto;
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

// Usage
//
// Do use:
// - if you want to show a list of sections and sub-sections
// - if you want to publish information that's not for most people. This is sometimes called an edge case,
// for example only some people need to know information about using a New Zealand marriage certificate overseas.
//
// Don't use:
//
// - if it's information that's important to most users
// - if you only want to shorten a page.
//
// Styleguide: InformationComponents.Accordion.Usage

// Usability guidance
//
// - Avoid traditional accordions that only open 1 section at a time — people with cognitive impairments may find it hard to remember what they have read.
// - Give users full control over what content is visible.
// - Write accordion headings in plain English so users can quickly see if they need to open the accordion or not.
//   You could write 'if' headings, such as 'If you'll use your marriage certificate overseas'.
// - It must be possible to print the accordion information.
//
// Styleguide: InformationComponents.Accordion.Usability

// Accessibility
//
// The component has the following features to support accessibility:
//
// - Accordion controls show focus when using tab key and are accessible using a keyboard.
// - The accordion has a dynamic tab order that takes account of the opening and closing of sections.
//
// In the context of a full page, consider the following:
//
// - Ensure headings are marked up correctly with the right ranking.
//   For example if you have an `<h1>` page heading followed by an accordion the accordion heading should be marked up as an `<h2>`.
// - Accordion controls must be placed in the correct tab order in their page context.
// - If placed on a non-white background, ensure the contrast between the accordion text and its background still meets
//   the [AAA contrast and luminosity ratio standard of 4.5:1](http:www.rte.ie).
//
// Styleguide: InformationComponents.Accordion.Accessibility

// Rationale
//
// The design uses a right aligned caret icon supported by a text label, where space allows.
// The caret was selected over alternatives (a text label, plus/minus icons) as carets are commonly used in other controls that reveal content in situ (such as select lists)
// where as all other alternatives have more ambiguous meanings (e.g. a plus might mean "Add").
//
// The heading has been styled as a link so users know to select it to get more information and the hover state reinforces the interactive and link-like behaviour of the component.
//
// Styleguide: InformationComponents.Accordion.Rationale



