// Pagination
//
// @todo
//
// Markup:
// <nav aria-label="Pagination" class="pagination">
//   <span aria-label="Previous page" class="button-icon state-disabled">
//     <span class="ri ri-arrow-left"></span>
//   </span>
//   <ul class="pagination__list">
//     <li class="current" aria-label="You're on page 1">1</li>
//     <li><a href="#" aria-label="Page 2">2</a></li>
//     <li><a href="#" aria-label="Page 3">3</a></li>
//     <li><a href="#" aria-label="Page 4">4</a></li>
//     <li class="ellipsis" aria-hidden="true"></li>
//     <li><a href="#" aria-label="Page 21">21</a></li>
//   </ul>
//   <a href="" aria-label="Next page" class="button-icon">
//     <span class="ri ri-arrow-right"></span>
//   </a>
// </nav>
//
// Styleguide: NavigationComponents.Pagination

$pagination-font-size: 16px !default;
$pagination-border-width: 2px !default;
$pagination-item-size: 32px !default;
$pagination-margin-bottom: 10px !default;
$pagination-item-color: color('primary') !default;
$pagination-item-spacing: 1px !default;
$pagination-radius: border-radius('full') !default;
$pagination-item-background-hover: color('gray-lighter') !default;
$pagination-item-border-current: color('secondary') !default;
$pagination-item-color-disabled: color('gray') !default;

@mixin pagination-container (
  $margin-bottom: $pagination-margin-bottom,
) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $margin-bottom;
}

/// Adds styles for a pagination list. Apply this to a `<ul>`.
@mixin pagination-list (
  $font-size: $pagination-font-size,
  $spacing: $pagination-item-spacing,
  $radius: $pagination-radius,
  $color: $pagination-item-color,
  $background-hover: $pagination-item-background-hover
) {
  @include clearfix;
  padding: 0 em(10);
  margin: 0;


  // List item
  li {
    margin-right: $spacing;
    border-radius: $radius;
    font-size: $font-size;
    padding: 0;

    display: none;

    &.current {
      display: inline-block;
    }

    @include breakpoint(md) {
      display: inline-block;
    }
  }

  // Page links
  a,
  button {
    display: block;
    padding: 0;
    border-radius: $radius;
    color: $color;
    text-decoration: none;

    &:hover {
      background: $background-hover;
    }
  }
}

/// Adds styles for the pagination item. Apply this to an `<a>`.
@mixin pagination-item(
  $item-size: $pagination-item-size,
  $border-width: $pagination-border-width
) {
  text-align: center;
  line-height: $item-size - $border-width;
  width: $item-size;
  height: $item-size;
  border: $border-width solid transparent;
}

/// Adds styles for the current pagination item. Apply this to an `<a>`.
@mixin pagination-item-current (
  $border-current: $pagination-item-border-current,
) {
  border-color: $border-current;

  cursor: default;
}

/// Adds styles for a disabled pagination item. Apply this to an `<a>`.
@mixin pagination-item-disabled (
  $color: $pagination-item-color-disabled
) {
  color: $color;
  cursor: not-allowed;

  &:hover {
    background: transparent;
  }
}

/// Adds styles for an ellipsis for use in a pagination list.
@mixin pagination-ellipsis () {
  &::after {
    content: '\2026';
  }
}

.pagination {
  @include pagination-container;
}

.pagination__list {
  @include pagination-list;

  a,
  .current,
  .ellipsis {
    @include pagination-item;
  }

  .current {
    @include pagination-item-current;
  }

  .disabled {
    @include pagination-item-disabled;
  }

  .ellipsis {
    @include pagination-ellipsis;
  }
}
