// Header
//
// @todo
//
// Markup:
// <header class="site-header">
//   <div class="container site-header__nav-container">
//     <div class="site-header__inner">
//       <a href="#" aria-label="Return to home page">
//         <img src="http://via.placeholder.com/324x58" alt="data.govt.nz" width="164">
//       </a>
//       <nav aria-label="Main Menu" class="site-header__navigation">
//         <ul class="menu">
//           <li>
//             <a href="#" class="site-header__menu-item menu-item link">
//               Get datasets
//             </a>
//           </li>
//           <li>
//             <a href="#" class="site-header__menu-item menu-item link">
//               Manage data
//             </a>
//           </li>
//           <li>
//             <a href="#" class="site-header__menu-item menu-item link">
//               Use data
//             </a>
//           </li>
//           <li>
//             <a href="#" class="site-header__menu-item menu-item link">
//               Open data
//             </a>
//           </li>
//           <li>
//             <a href="#" class="site-header__menu-item menu-item link">
//               Events
//             </a>
//           </li>
//           <li>
//             <a href="#" class="site-header__menu-item menu-item link">
//               Blog
//             </a>
//           </li>
//           <li>
//             <a href="#" class="site-header__menu-item menu-item link">
//               About
//             </a>
//           </li>
//         </ul>
//       </nav>
//       <div class="navigation-toggle navicon in-active" data-click="trigger: #site-navigation; class: in-active, is-active">
//         <span class="navicon-box">
//           <span class="navicon-inner"></span>
//         </span>
//       </div>
//       <div class="search-toggle in-active" data-click="trigger: #site-search; class: in-active, active">
//         <div class="search-toggle__search">
//           <span class="ri ri-search"></span>
//         </div>
//         <div class="button search-toggle__in-active">
//           <span class="ri ri-chevron-down"></span>
//           <span>
//             Search
//           </span>
//         </div>
//         <div class="button-icon search-toggle__active">
//           <span class="ri ri-chevron-up"></span>
//         </div>
//       </div>
//     </div>
//   </div>
//   <div class="site-search">
//     <div class="site-search__visibility hidden" id="site-search" data-toggle="slide" style="display: none;"
//       aria-expanded="false">
//       <div class="container">
//         <div class="site-search__inner">
//           <form class="search-form" action="search/SearchForm" method="get">
//             <label for="field-sitewide-search">
//               Search for:
//             </label>
//             <div class="context-switch">
//               <div class="field field--inline-label">
//                 <input id="search-for-website-content" type="radio" class="search-form-context" name="header-search-context"
//                   value="content" checked="checked">
//                 <label for="search-for-website-content">
//                   Website content
//                 </label>
//               </div>
//               <div class="field field--inline-label">
//                 <input id="search-for-datasets" type="radio" class="search-form-context" name="header-search-context"
//                   value="datasets">
//                 <label for="search-for-datasets">
//                   Datasets
//                 </label>
//               </div>
//             </div>
//             <div class="field search-input">
//               <input class="ckan-search-url" value="https://catalogue.data.govt.nz/dataset" type="hidden">
//               <input id="field-sitewide-search" name="Search" placeholder="E.g. environment" type="text"
//                 aria-label="Search term">
//             </div>
//             <div class="actions">
//               <button class="button">
//                 <span class="ri ri-search"></span>
//                 <span>Search</span>
//               </button>
//             </div>
//           </form>
//         </div>
//       </div>
//     </div>
//   </div>
// </header>
// <div class="site-navigation">
//   <div class="site-search__visibility" id="site-navigation" data-toggle="slide" style="display: none;" aria-expanded="true">
//     <div class="container">
//       <div class="site-search__inner">
//         <ul class="menu vertical">
//           <li>
//             <a href="#" class="site-header__menu-item menu-item link">
//               Get datasets
//             </a>
//           </li>
//           <li>
//             <a href="#" class="site-header__menu-item menu-item link">
//               Manage data
//             </a>
//           </li>
//           <li>
//             <a href="#" class="site-header__menu-item menu-item link">
//               Use data
//             </a>
//           </li>
//           <li>
//             <a href="#" class="site-header__menu-item menu-item link">
//               Open data
//             </a>
//           </li>
//           <li>
//             <a href="#" class="site-header__menu-item menu-item link">
//               Events
//             </a>
//           </li>
//           <li>
//             <a href="#" class="site-header__menu-item menu-item link">
//               Blog
//             </a>
//           </li>
//           <li>
//             <a href="#" class="site-header__menu-item menu-item link">
//               About
//             </a>
//           </li>
//         </ul>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide: Layout.Header

$site-header-menu-item-padding: rem(20 15) !default;
$menu-item-padding-right: get-side($site-header-menu-item-padding, 'right');
$menu-item-padding-left: get-side($site-header-menu-item-padding, 'left');

.site-header {
    position: relative;
    z-index: 3;
    background-color: color('white');
    box-shadow: 0 0 40px rgba(0,0,0,0.1);

    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: color('white');
    }

    &__nav-container {
      position: relative;
      z-index: 2;;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: rem(10 0);
        @include breakpoint(lg) {
            padding: rem(17 0);
        }
    }

    &__navigation {
        display: none;
        @include breakpoint(lg) {
            flex-grow: 1;
            display: flex;
            flex-direction: row-reverse;
            padding: rem(0 10);
        }
    }

    &__menu-item {
        padding: $site-header-menu-item-padding;
        font-weight: $font-weight-medium;
        font-size: rem(16);
        color: color('pale-sky');
        position: relative;

        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 4px;
            width: 0;
            opacity: 0;
            background-color: color('secondary');
            transition: 0.3s all ease;
            border-radius: border-radius('full');
        }

        &:focus,
        &:hover {
            color: color('secondary');
        }

        &.#{$menu-item-active-class},
        &:focus,
        &:hover {
            &:after {
                width: calc(100% - #{$menu-item-padding-right + $menu-item-padding-left});
                opacity: 1;
            }
        }
    }
}

.navigation-toggle {
    color: color('primary');
    order: -1;
    @include breakpoint(lg) {
        display: none;
    }
}

.site-navigation {
    position: relative;
    z-index: 4;
    width: 100%;
    @include breakpoint(lg) {
        display: none;
    }
}

.search-toggle {
    position: relative;
    &__search {
        padding: em(10);
        color: color('primary');
        font-size: rem(18);
    }
    &__in-active,
    &__active {
        display: none;
    }
    @include breakpoint(lg) {
        &__in-active,
        &__active {
            display: block;
        }
        &__search {
            display: none;
        }
        &__in-active {
            opacity: 1;
        }
        &__active {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
        }
        &.active {
            .search-toggle {
                &__in-active {
                    opacity: 0;
                }
                &__active {
                    opacity: 1;
                }
            }
        }
    }
}

.site-search {
    position: relative;
    z-index: 0;
    width: 100%;

    &__visibility {
        position: absolute;
        width: 100%;
        background-color: color('white');
    }

    &__inner {
        border-top: border('dot');
        padding: rem(27 0 27-$form-spacing*3 0);
    }
}

.site-search .site-search__visibility {
    box-shadow: 0 0 40px rgba(#000, .1);
}

.secondary-one {

  .site-header__menu-item {
    &:after {
      background-color: $color-pacific-blue;
    }

    &:focus,
    &:hover {
      color: $color-pacific-blue;
    }
  }

}

.secondary-two {

  .site-header__menu-item {
    &:after {
      background-color: $color-red-ribbon;
    }

    &:focus,
    &:hover {
      color: $color-red-ribbon;
    }
  }

}

.secondary-three {

  .site-header__menu-item {
    &:after {
      background-color: $color-apple;
    }

    &:focus,
    &:hover {
      color: $color-apple;
    }
  }

}

.secondary-four {

  .site-header__menu-item {
    &:after {
      background-color: $color-eminence;
    }

    &:focus,
    &:hover {
      color: $color-eminence;
    }
  }

}
